@tailwind base;
@tailwind components;
@tailwind utilities;

.glide__slide {
  display: flex;
  justify-content: center;
}
.glide__slide img {
  max-height: 200px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glide__slide img:hover {
  transform: scale(1.1); 
}
